<html>
<head>
  <title>News</title>
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  </style>
</head>
<body>
  <div class="topnav">
    <a href="Map.html">Home</a>
    <a class = "active" href="news.html">News</a>
    <a href="contact.html">Contact Authorities</a>
    <a href="change.html">Change</a>
  </div>

  <div style="padding-left:16px">
    <h2><u>Check out news sources</u></h2>
    <p>Find any suspicous activity near your area</p>
  </div>

  <center><font size ="10" color ="black"><u>NEWS</u><font/><center/>
  <center><font size = "6" color = "gray">Check out some local news below<font/><center/>
  <a href="https://www.kmov.com">
  <img border="0" alt="kmov" src="kmov.png" width="100" height="100">
  <a href="https://www.cnn.com">
  <img border="0" alt="kmov" src="cnn.png" width="100" height="100">
  <a href="https://www.foxnews.com">
  <img border="0" alt="kmov" src="fox news.png" width="100" height="100">
  <a href="https://www.kmox.com">
  <img border="0" alt="kmov" src="kmox.png" width="100" height="100">

</body>
</html>
