<!DOCTYPE html>
<html>
  <head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/register.css">
    <style>
    </style>
    <title>Register</title>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="body">
<!--
    you can substitute the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card"><strong><h2>iNet Registration</h2></strong></p>
            <form class="form-signin" method="POST" action="/api/v1/registeruser">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" class="form-control" placeholder="Email" name="email" required="">
                <input type="password" id="password" class="form-control" placeholder="Password" name="password" required="">
                <input type="text" id="firstname" class="form-control" placeholder="First Name" name="firstname" required="">
                <input type="text" id="lastname" class="form-control" placeholder="Last Name" name="lastname" required="">
                <select id="city">
                  <option value="none">Select Your City</option>
                  <option value="kirkwood">Kirkwood</option>
                  <option value="webster">Webster</option>
                  <option value="st. charles">St. Charles</option>
                  <option value="o'fallon">O'Fallon</option>
                  <option value="creve coeur">Creve Coeur</option>
                  <option value="belleville">Belleville</option>
                </select><br><br>
                <h4>What do you have to offer?</h4>
                <strong>Mentoring</strong><br>
                <select id="subject">
                  <option value="none">Select A Subject</option>
                  <option value="math">Math</option>
                  <option value="science">Science</option>
                  <option value="english">English</option>
                  <option value="spanish">Spanish</option>
                  <option value="chinese">Chinese</option>
                  <option value="latin">Latin</option>
                  <option value="greek">Greek</option>
                  <option value="computer science">Computer Science</option>
                </select><br><br>
                <strong>Coaching</strong><br>
                <select id="sport">
                  <option id="none" value="none">Select Your Sport</option>
                  <option id="soccer" value="soccer">Soccer</option>
                  <option id="football" value="football">Football</option>
                  <option id="basketball" value="basketball">Basketball</option>
                  <option id="rugby" value="rugby">Rugby</option>
                  <option id="track" value="track">Track</option>
                  <option id="hockey" value="hockey">Hockey</option>
                  <option id="crosscountry" value="cross country">Cross Country</option>
                  <option id="wrestling" value="wrestling">Wrestling</option>
                </select><br><br>
                <strong>Certifications</strong><br>
                  <input id="drillpress" type="checkbox" name="drillpress" value="drillpress"> Drill Press<br>
                  <input id="circlesaw" type="checkbox" name="circlesaw" value="circlesaw"> Circle Saw<br>
                  <input id="bevel" type="checkbox" name="bevel" value="bevel"> Bevel<br>
                  <input id="screwgun" type="checkbox" name="screwgun" value="screwgun"> Screw Gun<br>
                <div type="submit" class="btn btn-primary btn-block" onclick="myFunction();return false">Register</div>
            </form>
        </div><!-- /card-container -->
    </div><!-- /container -->
    <script>
      function myFunction()
      {
          var email = document.getElementsByName("email")[0].value;
          var password = document.getElementsByName("password")[0].value;
          var firstname = document.getElementsByName("firstname")[0].value;
          var lastname = document.getElementsByName("lastname")[0].value;
          var skills = [];
          var sport = document.getElementById('sport');
          var subject = document.getElementById('subject');

          if(firstname == ""){
            alert("first name is required");
          }

          if(document.getElementById('bevel').checked){
            skills.push('bevel');
          }
          if(document.getElementById('circlesaw').checked){
            skills.push('circle saw');
          }
          if(document.getElementById('screwgun').checked){
            skills.push('screw gun');
          }
          if(document.getElementById('drillpress').checked){
            skills.push('drill press');
          }
          if(sport.value != 'none'){
            skills.push(sport.value);
          }
          if(subject.value != 'none'){
            skills.push(subject.value);
          }
          window.location = "http://localhost:3007";


var donorInfo = {"email":email,"password":password,"firstname":firstname, "lastname":lastname,
"skills":JSON.stringify(skills)};
  console.log(donorInfo);

jQuery.post(
  "http://127.0.0.1:3007/register", donorInfo, function(data){
      console.log(data);
  }
);
}
    </script>
  </body>
</html>
